/***Fonts***/
@font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Regular.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-Cond.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Cond.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-Cond.ttf") format('truetype');
  font-weight: 400;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-Semibold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Semibold.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-Semibold.ttf") format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-SemiboldCond.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-SemiboldCond.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-SemiboldCond.ttf") format('truetype');
  font-weight: 600;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-BoldCond.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-BoldCond.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-BoldCond.ttf") format('truetype');
  font-weight: bold;
  font-stretch: condensed;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Bold.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format('truetype');
  font-weight: bold;
  font-display: swap;
}

/***Colors***/
:root {
  --black: #000;
  --white: #fff;
  --basic-red: #FF0000;
  --light-gray: #EFF0F0;
  --gray: #888889;
  --blue: #004595;
  --dark-blue: #002C5F;
}

/***Global***/
.page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  /* overflow-x: hidden; */
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page-body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: "MyriadPro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  font-stretch: condensed;
  letter-spacing: normal;
  overflow-x: hidden;
  background: radial-gradient(120.08% 50% at 50% 50%, #2C4E76 0%, #041227 100%);
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Components */
.second-heading {
  margin-bottom: 40px;
  color: var(--white);
  font-size: 24px;
  font-weight: 400;
  font-stretch: normal;
  line-height: 26px;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 3px;
}

.agreement {
  width: 100%;
  margin-top: 25px;
  padding-left: 15px;
  font-size: 14px;
  line-height: 25px;
  font-weight: 300;
  color: var(--gray);
}

.personal-data-ckeck__link {
  color: var(--gray);
  /* text-decoration: underline; */
}

.personal-data-ckeck__link:hover {
  color: var(--gray);
}

.modal .agreement {
  color: var(--white);
}

.modal .personal-data-ckeck__link {
  color: var(--white);
  /* text-decoration: underline; */
}

.modal .personal-data-ckeck__link:hover {
  color: var(--white);
}

.agreement__label {
  position: relative;
  left: 15px;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: -30px;
  top: 0;
  height: 20px;
  width: 20px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkmark::before {
  content: "";
  width: 84%;
  height: 84%;
  background-image: url(../img/svg/done.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.agreement__label input:checked~.checkmark::before {
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.scroll-compensate {
  padding-right: 17px;
}

.logo {
  width: 260px;
  height: 32px;
  background-image: url(../img/svg/logo-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo--white {
  background-image: url(../img/svg/logo-white.svg);
}

.me-6 {
  margin-right: 4rem !important;
}

.me-7 {
  margin-right: 5rem !important;
}

.standart-form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.standart-input {
  width: 260px;
  height: 35px;
  background-color: var(--white);
  border-radius: 5px;
  border: none;
  text-align: center;
  display: flex;
  justify-content: center;
}

.standart-input::-webkit-input-placeholder {
  font-family: "MyriadPro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-stretch: condensed;
}

.standart-input::-moz-placeholder {
  font-family: "MyriadPro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-stretch: condensed;
}

.standart-input:-moz-placeholder {
  font-family: "MyriadPro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-stretch: condensed;
}

.standart-input:-ms-input-placeholder {
  font-family: "MyriadPro", Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-stretch: condensed;
}

.standart-input+.standart-input {
  margin-top: 6px;
}

.phone-icon {
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.arrow-left-icon {
  width: 14px;
  height: 8px;
  background-image: url(../img/svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.benefit-icon {
  width: 105px;
  height: 70px;
  background-image: url(../img/svg/benefit.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.credit-icon {
  width: 85px;
  height: 80px;
  background-image: url(../img/svg/credit.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.warranty-icon {
  width: 75px;
  height: 72px;
  background-image: url(../img/svg/warranty.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.present-icon {
  width: 22px;
  height: 22px;
  background-image: url(../img/svg/present.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.list-icon {
  width: 23px;
  height: 23px;
  background-image: url(../img/svg/paper.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.money-icon {
  width: 32px;
  height: 15px;
  background-image: url(../img/svg/trade-in-little.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.percent-icon {
  width: 25px;
  height: 23px;
  background-image: url(../img/svg/percent.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.speed-icon {
  width: 25px;
  height: 19px;
  background-image: url(../img/svg/speed.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.engine-icon {
  width: 24px;
  height: 24px;
  background-image: url(../img/svg/engine.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.time-icon {
  width: 23px;
  height: 24px;
  background-image: url(../img/svg/time.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.gas-icon {
  width: 21px;
  height: 23px;
  background-image: url(../img/svg/gas.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.locator-icon {
  width: 28px;
  height: 35px;
  background-image: url(../img/svg/locator.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: var(--white);
  display: flex;
}

.main-header .container {
  display: flex;
}

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 90px;
  padding: 8px 0;
  background-color: var(--white);
}

.shadow-bottom::after {
  content: "";
  position: absolute;
  z-index: 100;
  bottom: -20px;
  width: 100%;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3029586834733894)), color-stop(33%, rgba(0, 0, 0, 0.20211834733893552)), color-stop(66%, rgba(0, 0, 0, 0.10127801120448177)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3029586834733894) 0%, rgba(0, 0, 0, 0.20211834733893552) 33%, rgba(0, 0, 0, 0.10127801120448177) 66%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3029586834733894) 0%, rgba(0, 0, 0, 0.20211834733893552) 33%, rgba(0, 0, 0, 0.10127801120448177) 66%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}

.shadow-bottom.active::after {
  opacity: 1;
}

.main-heading {
  font-size: 28px;
  line-height: 30px;
}

.main-subheading {
  font-size: 20px;
}

.phone-link {
  color: var(--black);
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  transition: color .3s ease;
}

.phone-link:hover {
  color: var(--blue);
}

.callback-btn {
  width: 260px;
  height: 35px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 260px;
  height: 35px;
  padding: 0 15px;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 18px;
  font-weight: 400;
  font-stretch: condensed;
  transition: all .25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  color: var(--white);
  opacity: 0.75;
}

.btn:focus {
  box-shadow: none;
}

.btn:active {
  transform: translateY(4px);
}

.btn--black {
  background-color: var(--black);
}

.btn--gray {
  background-color: var(--gray);
}

.btn--red {
  background-color: var(--basic-red);
}

.btn--transparent {
  border: 1px solid var(--white);
  background-color: transparent;
}

/* Main */
.main-content {
  margin-top: 100px;
}

.main-banner {
  height: 600px;
  padding: 40px 0 20px 0;
  background-image: url(../img/banners/main-banner__desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.main-banner-heading-block {
  position: relative;
  width: 100%;
  height: 170px;
  background-image: url(../img/main-banner-decor.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-banner-heading {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  color: var(--white);
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
}

.main-banner__btn {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}

.main-banner__btn:active {
  transform: translate(-50%, 4px);
}

.main-banner-subheading {
  color: var(--white);
  font-size: 40px;
  line-height: 40px;
  text-align: center;
}

.benefits-section {
  background: linear-gradient(180deg, #FF0000 0%, #811518 0.01%, rgba(40, 7, 7, 0) 7.08%, rgba(7, 21, 40, 0) 15.94%, rgba(7, 21, 40, 0) 56.56%, #071528 100%);
  background-color: #001e42;
}

.timer {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  font-stretch: normal;
}

.timer canvas {
  filter: drop-shadow(0px 0px 11px #0075FF);
}

.special-benefits {
  margin-top: 37px;
  border-top: 2px solid var(--white);
}

.special-benefits-heading {
  margin-bottom: 25px;
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.select-lists {
  margin-bottom: 45px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.benefits-list {
  width: 50%;
}

.benefit-heading {
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: 400;
  font-stretch: normal;
  color: var(--white);
  display: block;
}

.cars {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cars::before {
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/grad1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.cars::after {
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../img/grad1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.cars-item {
  height: 372px;
  padding: 0;
  display: flex;
  justify-content: space-between;
}

.cars-item+.cars-item {
  margin-top: 120px;
}

.cars-item__left {
  position: relative;
  margin-right: 17px;
  padding: 26px 70px 10px 10px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: cover;
  filter: drop-shadow(-7px 7px 10px rgba(0, 69, 149, 0.8));
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

.cars-item__left::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 41.83%, rgba(255, 255, 255, 0.8) 67.07%, rgba(255, 255, 255, 0.8) 100%);
  transform: rotate(180deg)
}

.car-info {
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
}

.car-name {
  font-size: 30px;
  font-weight: bold;
  font-stretch: normal;
  line-height: 35px;
  display: block;
}

.car-cost {
  margin-bottom: 18px;
  font-size: 30px;
  font-weight: 700;
  line-height: 35px;
  color: var(--blue);
  display: block;
}

.car-description-list {
  padding-left: 30px;
  font-size: 20px;
  font-weight: 700;
  font-stretch: condensed;
}

.car-img {
  position: absolute;
  bottom: -50px;
  right: 17%;
}

.cars-item__right {
  width: 285px;
  padding: 52px 22px 10px 22px;
  background-color: rgba(255, 255, 255, 0.9);
  filter: drop-shadow(-7px 7px 10px rgba(0, 69, 149, 0.8));
}

.cars-item__right .btn {
  width: 100%;
}

.cars-item__right .btn+.btn {
  margin-top: 12px;
}

.cars-item-list {
  margin-bottom: 30px;
}

.cars-item-list li {
  position: relative;
  padding-left: 40px;
  line-height: 1.1;
  display: flex;
  align-items: center;
}

.cars-item-list li+li {
  margin-top: 10px;
}

.cars-item-list li span {
  position: absolute;
  left: 0;
  bottom: 0;
  /* top: 50%;
  transform: translateY(-50%); */
}

.complictations {
  padding-top: 40px;
  padding-bottom: 120px;
}

.dropbtn {
  width: 260px;
  height: 35px;
  position: relative;
  padding: 0 30px;
  color: var(--blue);
  font-weight: 400;
  font-stretch: condensed;
  background-color: var(--white);
  box-sizing: content-box;
  border: 2px solid transparent;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  -webkit-transition: all .3s ease;
  -o-transition: all .3s ease;
  transition: all .3s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropbtn:hover,
.dropbtn:focus {
  border: 2px solid var(--dark-blue);
}

.dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 7px;
  height: 5px;
  background-image: url(../img/svg/down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dropdown+.dropdown {
  margin-left: 40px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  max-height: 400px;
  display: none;
  width: 100%;
  padding: 15px 30px;
  margin: 0;
  position: absolute;
  top: 39px;
  border: 2px solid var(--dark-blue);
  background-color: var(--white);
  border-radius: 5px;
  overflow: auto;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.2);
  z-index: 5;
}

.dropdown-item {
  padding: 0;
  text-decoration: none;
  display: block;
  color: var(--gray);
  font-weight: 400;
  transition: color .3s ease;
}

.dropdown-item:hover,
.dropdown-item:focus {
  color: var(--blue);
  background-color: transparent;
}

.show-list {
  display: block;
}

.complictation {}

.complictation+.complictation {
  margin-top: 30px;
}

.complictation__top {
  padding: 13px 25px 18px 18px;
  background-color: #88888985;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.complictation__bottom {
  margin-top: 8px;
  padding: 20px 25px;
  background-color: #88888985;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.4);
}

.complictation-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.complictation-costs {
  padding: 4px 28px 4px 15px;
  background-image: url(../img/costs-bg.png);
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.new-cost {
  color: var(--white);
  font-size: 28px;
  line-height: 35px;
}

.credit-cost {
  color: var(--white);
  font-size: 20px;
}

.complictation-desc-heading {
  color: #B4B4B4;
  text-decoration: underline;
  display: block;
}

.complictation-desc-value {
  color: var(--white);
}

.details {
  margin-bottom: 20px;
}

.details-heading {
  margin-bottom: 4px;
  padding-left: 30px;
  color: var(--white);
  line-height: 25px;
  text-transform: uppercase;
  display: block;
}

.details-list {
  list-style: disc;
  padding-left: 30px;
}

.details-list li {
  color: var(--white);
  font-size: 16px;
  line-height: 20px;
}

.benefit-banner {
  height: 521px;
  background-image: url(../img/banners/benefit-banner__desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.benefit-banner__content {
  padding: 35px 70px 35px 25px;
  background-color: #00459586;
  display: inline-flex;
  flex-direction: column;
}

.benefit-banner__text {
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 3px;
  text-transform: uppercase;
  color: var(--white);
  /* font-weight: 600; */
  font-stretch: normal;
}

.modal .modal-dialog {
  max-width: 880px;
}

.modal .modal-content {
  min-height: 370px;
  padding: 42px 20px 20px 20px;
  background-image: url(../img/modal-bg__desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
  border: 2px solid var(--basic-red);
  filter: drop-shadow(0px 0px 50px var(--basic-red));
  display: flex;
}

.modal .modal-heading {
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 4px;
  display: block;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -65px;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: url(../img/svg/close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.modal-close:hover {
  opacity: 0.75;
}

/* Footer */
.main-footer {
  position: relative;
  margin-top: 120px;
}

.map {
  height: 600px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.feedback {
  position: absolute;
  left: 20%;
  top: -40px;
  padding: 20px 50px 25px 50px;
  background-image: url(../img/feedback-bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  filter: drop-shadow(0px 0px 20px rgba(0, 0, 0, 0.4));
  display: inline-flex;
  flex-direction: column;
  align-items: center;
}

.feedback-heading {
  margin-bottom: 25px;
  color: var(--white);
  font-size: 20px;
  line-height: 20px;
  display: inline-block;
}

.disclaimer .accordion-button {
  color: var(--white);
  font-weight: bold;
  background-color: var(--dark-blue);
}

.disclaimer .accordion-button::after {
  width: 1rem;
  height: 1rem;
  background-image: url(../img/svg/red-arrow.svg);
  background-size: contain;
}

.disclaimer .accordion-button:not(.collapsed)::after {
  background-image: url(../img/svg/red-arrow.svg);
}

.disclaimer .accordion-button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Adaptive */
@media screen and (min-width: 1500px) {
  .container {
    width: 1350px;
  }
}

@media screen and (max-width: 1500px) {
  .car-img {
    right: 26%;
  }
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
  .benefits-list {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .shadow-bottom::after {
    height: 15px;
    bottom: -15px;
  }

  .dropdown {
    width: 100%;
    display: flex;
  }

  .dropbtn {
    width: 100%;
    padding: 0 15px;
  }

  .dropdown+.dropdown {
    margin-left: 0;
    margin-top: 10px;
  }

  .map {
    height: 400px;
    background-size: 500%;
    background-position-x: 72%;
    background-position-y: 100%;
  }

  .modal-close {
    width: 35px;
    height: 35px;
    top: 5px;
    right: 5px;
  }

  .main-content {
    margin-top: 90px;
  }

  .main-banner {
    height: 511px;
    padding: 30px 10px 10px 10px;
    background-image: url(../img/banners/main-banner__mobile.jpg);
  }

  .main-banner-heading-block {
    background-image: none;
    flex-direction: column;
  }

  .main-banner-heading {
    position: static;
    transform: none;
  }

  .main-banner__btn {
    position: static;
    transform: none;
  }

  .main-banner__btn:active {
    transform: translateY(4px);
  }

  .timer {
    display: none;
  }

  .benefit-heading {
    margin-bottom: 10px;
  }

  .cars {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .cars::before {
    display: none;
  }

  .cars::after {
    display: none;
  }

  .cars-item {
    height: unset;
    flex-direction: column;
  }

  .cars-item+.cars-item {
    margin-top: 35px;
  }

  .cars-item__left {
    width: 100%;
    height: 372px;
    margin-right: 0;
    padding: 17px 20px;
    filter: none;
    flex-grow: 0;
    justify-content: center;
  }

  .cars-item__left::before {
    width: 220%;
  }

  .car-img {
    width: 100%;
    z-index: 2;
    right: 50%;
    bottom: -35px;
    transform: translateX(50%);
  }

  .cars-item__right {
    width: 100%;
    padding: 40px 18% 35px 18%;
  }

  .special-benefits {
    border-top: none;
  }

  .select-lists {
    flex-direction: column;
  }

  .complictations {
    padding-bottom: 40px;
  }

  .complictation-img {
    margin-bottom: 10px;
  }

  .complictation-costs {
    flex-direction: column;
  }

  .benefit-banner {
    height: 275px;
  }

  .benefit-banner .container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .benefit-banner__content {
    padding: 20px;
  }

  .benefit-banner__text {
    text-align: center;
  }

  .main-footer {
    margin-top: 30px;
  }

  .complictation__top {
    flex-direction: column;
  }

  .feedback {
    position: static;
  }

  .modal .modal-content {
    filter: none;
    justify-content: center;
  }
}

@media screen and (max-width: 576px) {
  .benefits-list {
    width: 100%;
  }
}