/***Fonts***/
@font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-Cond.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Cond.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-Cond.ttf") format('truetype');
  font-weight: 400;
  font-display: swap;
}

/* @font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-Regular.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Regular.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-Regular.ttf") format('truetype');
  font-weight: normal;
  font-display: swap;
} */

@font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-Semibold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Semibold.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-Semibold.ttf") format('truetype');
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "MyriadPro";
  src: local(MyriadPro),
    url("../fonts/MyriadPro/MyriadPro-Bold.woff") format("woff"),
    url("../fonts/MyriadPro/MyriadPro-Bold.eot") format('embedded-opentype'),
    url("../fonts/MyriadPro/MyriadPro-Bold.ttf") format('truetype');
  font-weight: bold;
  font-display: swap;
}

/***Colors***/
:root {
  --black: #000;
  --white: #fff;
  --basic-red: #FF0000;
  --light-gray: #EFF0F0;
  --gray: #888889;
  --blue: #004595;
  --dark-blue: #002C5F;
}

/***Global***/
.page {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%;
  /* overflow-x: hidden; */
}

*,
::before,
::after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
}

.page-body {
  position: relative;
  min-height: 100%;
  margin: 0;
  padding: 0;
  color: var(--black);
  font-family: "MyriadPro", Arial, Helvetica, sans-serif;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: normal;
  background: radial-gradient(120.08% 50% at 50% 50%, #2C4E76 0%, #041227 100%);
  overflow-x: hidden;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: -webkit-min-content 1fr -webkit-min-content;
  -ms-grid-rows: min-content 1fr min-content;
  grid-template-rows: -webkit-min-content 1fr -webkit-min-content;
  grid-template-rows: min-content 1fr min-content;
  -ms-flex-line-pack: start;
  align-content: start;
}

a {
  text-decoration: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

p {
  margin: 0;
}

picture {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

img {
  max-width: 100%;
  height: auto;
}

button {
  padding: 0;
  outline: none;
  border: none;
  cursor: pointer;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Components */

.agreement {
  margin-top: 25px;
  padding-left: 15px;
  font-size: 12px;
  line-height: 20px;
  font-weight: 300;
  color: var(--white);
}

.personal-data-ckeck__link {
  color: var(--white);
  /* text-decoration: underline; */
}

.agreement__label {
  position: relative;
  left: 15px;
  cursor: pointer;
}

.checkmark {
  position: absolute;
  left: -30px;
  top: -5px;
  height: 20px;
  width: 20px;
  background-color: var(--white);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.checkmark::before {
  content: "";
  width: 84%;
  height: 84%;
  background-image: url(../img/svg/done.svg);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  opacity: 0;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.agreement__label input:checked~.checkmark::before {
  opacity: 1;
  -webkit-transition: opacity .2s ease;
  -o-transition: opacity .2s ease;
  transition: opacity .2s ease;
}

.scroll-compensate {
  padding-right: 17px;
}

.logo {
  width: 260px;
  height: 32px;
  background-image: url(../img/svg/logo-blue.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.logo--white {
  background-image: url(../img/svg/logo-white.svg);
}

.phone-icon {
  width: 16px;
  height: 16px;
  background-image: url(../img/svg/phone.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.arrow-left-icon {
  width: 14px;
  height: 8px;
  background-image: url(../img/svg/arrow-left.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.benefit-icon {
  width: 105px;
  height: 70px;
  background-image: url(../img/svg/benefit.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.credit-icon {
  width: 85px;
  height: 80px;
  background-image: url(../img/svg/credit.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.warranty-icon {
  width: 75px;
  height: 72px;
  background-image: url(../img/svg/warranty.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.present-icon {
  width: 22px;
  height: 22px;
  background-image: url(../img/svg/present.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.list-icon {
  width: 23px;
  height: 23px;
  background-image: url(../img/svg/paper.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.money-icon {
  width: 32px;
  height: 15px;
  background-image: url(../img/svg/trade-in-little.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

.percent-icon {
  width: 25px;
  height: 23px;
  background-image: url(../img/svg/percent.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
}

/* Header */
.main-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  background-color: var(--white);
  display: flex;
}

.main-header .container {
  display: flex;
}

.mobile-header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  height: 100px;
  padding: 8px 0;
  background-color: var(--black);
}

.shadow-bottom::after {
  content: "";
  position: absolute;
  z-index: 100;
  bottom: -20px;
  width: 100%;
  height: 20px;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(0, 0, 0, 0.3029586834733894)), color-stop(33%, rgba(0, 0, 0, 0.20211834733893552)), color-stop(66%, rgba(0, 0, 0, 0.10127801120448177)), to(rgba(0, 0, 0, 0)));
  background: -o-linear-gradient(top, rgba(0, 0, 0, 0.3029586834733894) 0%, rgba(0, 0, 0, 0.20211834733893552) 33%, rgba(0, 0, 0, 0.10127801120448177) 66%, rgba(0, 0, 0, 0) 100%);
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.3029586834733894) 0%, rgba(0, 0, 0, 0.20211834733893552) 33%, rgba(0, 0, 0, 0.10127801120448177) 66%, rgba(0, 0, 0, 0) 100%);
  opacity: 0;
  -webkit-transition: opacity .25s;
  -o-transition: opacity .25s;
  transition: opacity .25s;
}

.shadow-bottom.active::after {
  opacity: 1;
}

.main-heading {
  font-size: 28px;
  line-height: 30px;
}

.main-subheading {
  font-size: 20px;
}

.phone-link {
  color: var(--black);
  font-size: 20px;
  line-height: 25px;
  font-weight: bold;
  transition: color .3s ease;
}

.phone-link:hover {
  color: var(--blue);
}

.callback-btn {
  width: 260px;
  height: 35px;
  background-color: var(--blue);
  color: var(--white);
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn {
  width: 260px;
  height: 35px;
  padding: 0 15px;
  border-radius: 5px;
  background-color: var(--blue);
  color: var(--white);
  font-size: 18px;
  transition: all .25s ease;
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn:hover {
  color: var(--white);
  opacity: 0.75;
}

.btn:focus {
  box-shadow: none;
}

.btn:active {
  transform: translateY(4px);
}

.btn--black {
  background-color: var(--black);
}

.btn--gray {
  background-color: var(--gray);
}

.btn--transparent {
  background-color: transparent;
}

/* Main */
.main-content {
  margin-top: 100px;
}

.main-banner {
  height: 600px;
  background-image: url(../img/banners/main-banner__desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.benefits-section {
  background: linear-gradient(180deg, #FF0000 0%, #811518 0.01%, rgba(40, 7, 7, 0) 7.08%, rgba(7, 21, 40, 0) 15.94%, rgba(7, 21, 40, 0) 56.56%, #071528 100%);
  background-color: #2c4e76;
}

.special-benefits {
  border-top: 2px solid var(--white);
}

.special-benefits-heading {
  margin-bottom: 25px;
  color: var(--white);
  font-size: 24px;
  font-weight: 600;
  letter-spacing: 3px;
  text-transform: uppercase;
  text-align: center;
  display: block;
}

.select-lists {
  margin-bottom: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.benefits-list {
  width: 50%;
}

.benefit-heading {
  margin-bottom: 20px;
  font-size: 22px;
  color: var(--white);
  display: block;
}

.cars {
  position: relative;
  padding-top: 100px;
  padding-bottom: 100px;
}

.cars::before {
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-image: url(../img/grad1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.cars::after {
  content: "";
  width: 100%;
  height: 80px;
  position: absolute;
  bottom: 0;
  left: 0;
  background-image: url(../img/grad1.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
  transform: rotate(180deg);
}

.cars-item {
  height: 372px;
  display: flex;
  justify-content: space-between;
}

.cars-item__left {
  position: relative;
  margin-right: 17px;
  background-repeat: no-repeat;
  background-position-x: left;
  background-size: cover;
  flex-grow: 1;
}

.cars-item__left::before {
  content: "";
  position: absolute;
  right: 0;
  top: 0;
  width: 80%;
  height: 100%;
  background: linear-gradient(270deg, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 41.83%, rgba(255, 255, 255, 0.8) 67.07%, rgba(255, 255, 255, 0.8) 100%);
  transform: rotate(180deg)
}

.cars-item__right {
  width: 285px;
  padding: 52px 22px 10px 22px;
  background-color: var(--white);
}

.cars-item__right .btn {
  width: 100%;
}

.cars-item__right .btn+.btn {
  margin-top: 12px;
}

.cars-item-list {
  margin-bottom: 30px;
}

.cars-item-list li {
  position: relative;
  padding-left: 40px;
  line-height: 1.1;
  display: flex;
  align-items: center;
}

.cars-item-list li+li {
  margin-top: 10px;
}

.cars-item-list li span {
  position: absolute;
  left: 0;
  bottom: 0;
  /* top: 50%;
  transform: translateY(-50%); */
}

.dropbtn {
  width: 250px;
  height: 50px;
  position: relative;
  padding: 0 30px;
  color: var(--black);
  font-weight: 400;
  background-color: var(--gray);
  /* border: 2px solid var(--basic-red); */
  border-radius: 30px;
  -webkit-transition: all .4s ease;
  -o-transition: all .4s ease;
  transition: all .4s ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

.dropbtn:hover,
.dropbtn:focus {
  -webkit-box-shadow: 0px 0px 10px 2px var(--basic-red);
  box-shadow: 0px 0px 10px 2px var(--basic-red);
}

.dropdown::after {
  content: "";
  position: absolute;
  top: 50%;
  right: 20px;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 7px;
  height: 5px;
  background-image: url(../img/svg/down.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.dropdown+.dropdown {
  margin-left: 15px;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  width: 100%;
  position: absolute;
  top: 54px;
  border: 2px solid var(--basic-red);
  background-color: var(--white);
  overflow: auto;
  -webkit-box-shadow: 0px 8px 16px 0px var(--basic-red);
  box-shadow: 0px 8px 16px 0px var(--basic-red);
  z-index: 5;
}

.dropdown-item {
  padding: 8px 16px;
  text-decoration: none;
  display: block;
  color: var(--gray);
  font-weight: 400;
}

.dropdown-item:hover,
.dropdown-item:focus {
  background-color: var(--basic-red);
}

.show-list {
  display: block;
}

.modal .modal-dialog {
  max-width: 880px;
}

.modal .modal-content {
  padding: 30px 60px;
  background-image: url(../img/modal-bg__desktop.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: left;
  background-position-y: center;
}

.modal-close {
  position: absolute;
  top: 0;
  right: -65px;
  width: 45px;
  height: 45px;
  background-color: transparent;
  background-image: url(../img/svg/close.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  -webkit-transition: opacity .25s ease;
  -o-transition: opacity .25s ease;
  transition: opacity .25s ease;
}

.modal-close:hover {
  opacity: 0.75;
}

/* Footer */
.main-footer {
  position: relative;
}

.map {
  height: 600px;
  background-image: url(../img/map.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position-x: center;
  background-position-y: center;
}

.disclaimer .accordion-button {
  color: var(--white);
  font-weight: bold;
  background-color: var(--dark-blue);
}

.disclaimer .accordion-button::after {
  width: 1rem;
  height: 1rem;
  background-image: url(../img/svg/red-arrow.svg);
  background-size: contain;
}

.disclaimer .accordion-button:not(.collapsed)::after {
  background-image: url(../img/svg/red-arrow.svg);
}

.disclaimer .accordion-button:focus {
  outline: none;
  border: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}

/* Adaptive */
@media screen and (min-width: 1500px) {
  .container {
    width: 1350px;
  }
}

@media screen and (max-width: 1500px) {
  /* .cars-item__left {
    width: 71%;
  }

  .cars-item__right {
    width: 28%;
  } */
}

@media screen and (max-width: 1400px) {}

@media screen and (max-width: 1200px) {}

@media screen and (max-width: 992px) {
  .benefits-list {
    width: 75%;
  }
}

@media screen and (max-width: 768px) {
  .shadow-bottom::after {
    height: 15px;
    bottom: -15px;
  }

  .dropdown {
    width: 45%;
  }

  .dropbtn {
    width: 100%;
    height: 40px;
    padding: 0 15px;
  }

  .map {
    height: 400px;
    background-size: 500%;
    background-position-x: 72%;
    background-position-y: 100%;
  }

  .modal-close {
    width: 35px;
    height: 35px;
    top: 5px;
    right: 5px;
  }
}

@media screen and (max-width: 576px) {
  .benefits-list {
    width: 100%;
  }
}